<%- include ('header') %> 
    <div class="box" id="heading">
        <h1 > <%=listTitle%></h1>
    </div>

    <div class="box">
            <% for (let i=0; i < items.length; i++) { %>
    <div class="Item">
        <input type="checkbox">
        <p> <%=items[i]%></p>
            <% } %>
    </div>
     <form class="item" action="/" method="POST"> <div class="mb-3">
         <input type="text"  name='actionItem_inp' placeholder="new Action Item..." required style="box-shadow: none" autocomplete="off">
         <button type="submit" name="list" value="<%= listTitle %> "> +  </button>
     </form>
    </div>

    
    
<%- include ('footer') %> 